{% extends 'components/base.html' %}
    
   


    {% block content %}
    <div class='container'>
    <h1>Films</h1>
    <div class="card mb-5 mx-3" style="max-width: 100%;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ film.poster.url }}" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{film.name}}</h5>
              <p class="card-text">Rating: {{ film.rating}}</p>
              <p class="card-text"> {{ film.about}}</p>
              <p class="card-text"> {{ film.views_count}}</p>


              <p class="card-text"><small class="text-muted">Last updated {{film.pub_date}}</small></p>
              {% if request.user.is_authenticated %}
              <form method='POST'>
              {% csrf_token %}
              <input type="hidden" name="choice" value="like">
              <button type="submit" class="btn btn-primary">Like</button>
              {{film.film_likes.all | length}}
              </form>
              {% else %}
              <p><a href = "{% url 'account:login' %}">Login</a>to like</p>
              {% endif %} 
            </div>
          </div>
        </div>
      </div>
<div>
  <video width="100%" controls>
    <source src="{{ film.video.url}}" type="video/mp4">
    <source src="{{ film.video.url}}" type="video/ogg">
    Your browser does not support the video tag.
  </video>
</div>
    </div>
    <div class="container mt-3 mt-b">
    <h4> Comments ({{film.film_comments.all | length }}) </h4>
    {% for comment in film.film_comments.all %}
    <div class="card mt-1">
      <div class="card-header">
        {{ comment.user.username }}
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>{{ comment.comment }}</p>
          <footer class="blockquote-footer">{{comment.pub_date}}</footer>
        </blockquote>
      </div>
    </div>
    {% endfor %}
    <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="choice" value="comment">
    <div class="mb-3 mt-3">
      <label for="exampleFormControlTextarea1" class="form-label">Leave your comment</label>
      <textarea class="form-control" name="comment" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
 
  
    </div>
  </div>
{% endblock %}
